@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-position: center;
    background-size: cover;
    background-repeat: round;
    background-attachment: fixed;
    /* animation: color 10s infinite; */
}

.container {
    height: 100vh;
    padding-top: 10%;

    animation: color 10s infinite;
}

.text-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5vw;
    width: 90vw;
    height: 95vh;
    background-image: url('images/b1.jpg');
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
    overflow: hidden;
    flex-direction: column;
    animation: color 10s infinite;
}
@keyframes color{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.text {
    text-align: center;
    align-self: center;
    font-weight: 900;
    font-size: 3em;
    color: #00ffdd;
    text-shadow:4px 4px 0px rgba(0, 0, 0, .15),
    1px 1px 0 rgba(255, 200, 200, 255),
    2px 2px 0 rgba(255, 150, 150, 255),
    3px 3px 0 rgba(255, 125, 125, 255);
    padding: 10px;
    text-transform: capitalize;
    transition: all 0.5s;
}

#card-front {
    color: #ffa7c3;
}

#card,
#card-front,
#card-inside {

    height: 500px;
}

.wrap {
    padding: 1.5em 2.5em;
    height: 100%;
}

#card-front,
#card-inside {
    width: 45%;
    -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
    position: absolute;
    left: 50%;
}

@media only screen and (max-width: 600px) {

    #card-front,
    #card-inside {
        left: 5%;
        width: 90%;
    }
}

#card-inside .wrap {
    background: #FFEFEF;
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
}

#card {
    max-width: 100%;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;
}

#card h1 {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    transform: translate(-5%, -50%);
    font-family: 'Nobile', comic-san;
    font-style: Bold;
    font-size: 30px;
    text-shadow:
        4px 4px 0px rgba(0, 0, 0, .15),
        1px 1px 0 rgba(255, 200, 200, 255),
        2px 2px 0 rgba(255, 150, 150, 255),
        3px 3px 0 rgba(255, 125, 125, 255);
    color: #0f0101;
}

#card-inside {
    font-size: 10px;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331711;
    font-style: italic;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

p.signed {
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
}

.message {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
}

#card-front {
    background-color: #fbf7f7;
    background-image: linear-gradient(top, #fbf7f7 0%, #FF7777 100%);
    background-image: -moz-linear-gradient(top, #fbf7f7 0%, #FF7777 100%);
    background-image: -webkit-linear-gradient(top, #fbf7f7 0%, #FF7777 100%);
    transform: rotateY(-20deg);
    transform-origin: left;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    transition: transform 1s linear;
    -moz-transition: -moz-transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    position: relative;
}

#card-front .wrap {
    transition: background 1s linear;
    -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button,
#card-inside button {
    position: absolute;
    bottom: 1em;
    right: -5px;
    background: #F44;
    color: #000;
    font-family: 'Nobile', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    padding: 0 .3em;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
}

#card-front button:hover,
#card-front button:focus {
    background: #F22;
}

#close {
    display: none;
}

#card.open-fully #close,
#card-open-half #close {
    display: inline;
}

#card.open-fully #open {
    display: none;
}


#card.open-half #card-front,
#card.close-half #card-front {
    transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}

#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
    background: #FFEFEF;
}

#card.open-fully #card-front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
    display: none;
}

.container1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card-container {
    width: 300px;
    height: 400px;
    background: linear-gradient(to top right, blue, aqua, lightblue);
    position: relative;
    perspective: 5000px;
    margin: 1em;

    -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .5), 0 0 1px rgba(0, 0, 0, .7);
    -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
    animation: all none;
}

.cover {
    width: 300px;
    height: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    background-color: #333;
    transform: rotateY(-20deg);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s linear;
    z-index: 10;
}
.cover h3{
    color: #00ffdd;
    position: absolute;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0px 10px cyan;
}
.card-container .message {
    position: absolute;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-container:hover .cover {
    transform: rotateY(-150deg);
}

.card-container .cover .btn {
    position: absolute;
    bottom: 1em;
    right: -5px;
    background: #F44;
    color: #000;
    font-family: 'Nobile', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    padding: 0 .3em;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
    z-index: 20;
}

.img {
    width: 100%;
    height: 380px;
}

.cover .front {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: yellow;
}

.cover .back {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59);
    transform: rotateY(180deg);
}

.container2 {
    position: relative;
    height: 90vh;
    display: flex;
    margin: 50px 0;
    align-items: center;
}

.video {
    width: 100%;
    height: 100%;
}

.container3 {
    height: 100%;
    position: relative;
    text-align: center;
    margin: 50px 0;
}

.container3 a {
    position: relative;
    ;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 20px;
    color: black;
    font-weight: 900;
    text-shadow: 0 0 10px cyan;
    background: linear-gradient(to top left, blue, aqua);
    animation: button 5s infinite;
    margin-top: 100px;
}
